.container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: 1rem;
  padding: 0 .5rem;
  .card {
    display: flex;
    gap: .5rem;
    font-size: 10pt;
    color: #828282;
  }
}

.pages {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  padding: 1rem;

  button {
    border: 1px solid black;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 16px;
    background-color: white;

    &:hover {
      background-color: #828282;
    }
  }
}